.calculator
{
    width: 300px;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}
.inputs
{
    margin-top: 5px;
}
input
{
    width: 175px;
}
#button-container
{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#buttons
{
    width: 250px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%
}